extends layout

block content
  .content
    h1 Internet Movies Database
    p insert description here

block search
  .search
    h3 Search IMDB By Year
    div 
      form(action='/movies/search', method="get") 
        input(id="Movie", type="text", placeholder="Movie's Year", name = "year")
        button.btn#Search Retrieve
        h3 Choose isolation level
        p 
            input(id="uncommitted", type="radio", placeholder="Movies Name", name="isolation" value="READ UNCOMMITTED") 
            label(for="uncommitted") Read Uncommitted
            br
            br
            input(id="committed", type="radio", placeholder="Movies Year", name="isolation" value="READ COMMITTED") 
            label(for="committed") Read Committed
            br
            br
            input(id="repeatable", type="radio", placeholder="Movies Year", name="isolation" value="REPEATABLE READ" checked) 
            label(for="repeatable") Read Repeatable
            br
            br
            input(id="serializable", type="radio", placeholder="Movies Rank", name="isolation" value="SERIALIZABLE") 
            label(for="serializable") Serializable

block data
  .data
    h3 Data retrieved from IMDB-ijs Dataset
    ul 
      each item in movieList 
        li 
          div
            form(action="/edit/#{item.movie_id}" method='get') 
              p
                b Movie ID:  &nbsp;
                span=item.movie_id
                b &nbsp; Name: &nbsp;
                span=item.movie_name 
                b &nbsp; Year:  &nbsp;
                span=item.movie_year
                b &nbsp; Rank:  &nbsp;
                span=item.movie_rank 
                &nbsp;
                &nbsp;
                button.btn Edit
                &nbsp;
            form(action="/delete/#{item.movie_id}", method='post') 
                button.btn Delete
              
    // place table/cards here for data retrieved


block movie
  .movie
    h3 Create New Movie Data
    form(action="/", method="post") 
      input(id="MovieInfo", type="text", placeholder="Movies Name", name="name")
      input(id="MovieInfo", type="text", placeholder="Movies Year", name="year")
      input(id="MovieInfo", type="text", placeholder="Movies Rank", name="rank")
      button.btn#Upd Create

  
block isolation
  .isolation
    
